extends layout

block content
  h1= title
  video(controls) Your browser does not support videos.
    source(src="videos/test.mp4", type="video/mp4")
    source(src="videos/test.webm", type="video/webm")
